<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Propertycapsule" thread-count="3" parallel="methods">
  <test name="3TestCasesAssignment">
    <classes>
      <class name="com.test.Cases.TabVerificationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
